@media only screen and (max-width: 820px) {
    #navbar {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 285px;
    }

    #navbar ul {
      margin-top: 30px;
      padding-left: 0;
      overflow-y: auto;
      max-height: calc(100% - 70px);
    }

    #navbar ul li {
      list-style: none;
      margin-top: 5px;
      text-align: left;
      padding-left: 20px;
      display: flex;
      align-items: center;
    }

    #main-doc {
      padding-top: 280px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }

    section {
      margin-top: 10px;
    }

    .main-section {
      margin-left: 25px;
    }

    .main-section p {
      margin-left: 26px;
    }

    .main-section ul {
      margin-left: 27px;
    }

    .main-section code {
      margin-left: 35px;
    }
  }